torch
torchvision
torchaudio
matplotlib
wurlitzer
accelerate
bitsandbytes
optimum
# auto-gptq
gradio
TTS
transformers==4.36
numpy
openai-whisper
geopy
langchain
langchain-community
text_generation
python-dotenv
pydantic-settings
ollama
plotly-express