torch
torchvision
torchaudio
matplotlib
wurlitzer
accelerate
bitsandbytes
optimum
# auto-gptq
gradio
TTS==0.22.0
transformers==4.36.2
numpy
openai-whisper
geopy
replicate
langchain
langchain-community
text_generation
python-dotenv
pydantic-settings
ollama
plotly-express
loguru
unidic_lite==1.0.8
unidic==1.1.0
melotts @ git+https://github.com/myshell-ai/MeloTTS.git@main