torch
torchvision
torchaudio
matplotlib
wurlitzer
accelerate
bitsandbytes
optimum
# auto-gptq
gradio
TTS==0.22.0
transformers>=4.33.0
numpy
openai-whisper
geopy
replicate
langchain
langchain-community
text_generation
python-dotenv
pydantic-settings
ollama
plotly-express
loguru
melotts @ git+https://github.com/sasan-j/MeloTTS.git@main